$main-dark: #23212B;
$main: #2D2B36;
$surface: #373442;
$surface-dark: #33303B;
$highlight: #C2BBEF;
$text-main: #C4C4C4;
$text-secondary: #BDBCC2;
$text-unhighlight: #C4C4C4;
$mediabutton-size: 28px;
$sidebar-width: 198px;
$bottombar-size: 64px;
$table-header-height: 30px;

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    color: $text-main;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: darken($main, 3%);
}

::-webkit-scrollbar-thumb {
  border: 4px solid lighten($surface, 25%);
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}
