@import "../../main.scss";

.playbackButton {
  color: $text-main;
  font-size: $mediabutton-size;
  display: inline-flex;
  /* Removes browser styling */
  background: none;
	border: none;
	outline: inherit;
}
