@import '../../main.scss';

#track-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  font-size: 14px;
  margin: 0 $table-header-height;
}

#track-additional {
  justify-content: space-between;
  width: 100%;
  padding: 0 0 4px 0;
}

#track-title {

}

.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-text {
  overflow: hidden;
  white-space: nowrap;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

.title-mask {
  -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 7.5%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 92.5%, rgba(0,0,0,0) 100%);
}

#track-album {
  position: absolute;
  flex-grow: 0;
  flex-shrink: 0;
  bottom: 18px;
  font-size: 14px;
}

#progress {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background-color: rgba($text-main, 0.3);
  width: 100%;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 5px;
  background-color: $text-main;
}

#duration {
  #seperator {
    padding: 0 5px;
  }
  #remain {
    opacity: 0.75;
  }
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
