@import "../main.scss";

#titlebar {
    font-size: large;
}

.titlebar--windows {
    background-color: $main;
}

.titlebar--mac {
    background-color: aqua;
}

.titlebar--linux {
    background-color: red;
}