@import "../main.scss";

.header, .list {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  color: $text-main;
}

#playlist {
  height: 100%;
  width: 100%;
  background-color: $surface;
}

.list {
  table-layout: fixed;
  background-color: $surface;

  thead, td {
    padding: 0 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    flex-grow: 0;
  }
  thead {
    background-color: $main;
    pointer-events: none;
  }

  // tr:nth-child(even) {
  //   background-color: $surface-dark;
  // }

  $darken-percentage: 2%;

  // tr:nth-child(even):hover {
  //   background-color: darken($surface-dark, $darken-percentage);
  // }

  tr:hover {
    background-color: darken($surface, $darken-percentage);
  }
}

.innerTable {
  height: calc(100% - $bottombar-size - $table-header-height);
  overflow-y: auto;
}
