@import "../main.scss";

.header, .list {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  color: $text-main;
}

.list {
  background-color: $surface;
  thead {
    background-color: $main;
  }

  td {
    padding: 3px 0;
  }

  tr:nth-child(even) {
    background-color: $surface-dark;
  }

  $darken-percentage: 5%;

  tr:nth-child(even):hover {
    background-color: darken($surface-dark, $darken-percentage);
  }

  tr:hover {
    background-color: darken($surface, $darken-percentage);
  }
}
